.accomplishments {
    background: $primary;
    color: $secondary;
    padding: 1rem 0;

    .single {
        transition: 1s;
        &:hover {
            transform: rotate(360deg);
            opacity: .8;
        }
    }

    .content {
        padding: 1rem 0;
    }

    h3 {
        font-weight: bold;
        font-size: 2rem;
    }
    h5 {
        font-size: 1rem;
    }
}