.contact {
    padding: 3rem;
    .column {
        &:last-child {
            @media only screen and (max-width: 768px) {
                border-top: 1px solid $alternate;
                padding: 2rem 0;
            }
        }
        
    }
    .header {       
        h4 {
            font-size: 2rem;
            font-weight: bold;
        }
        p {
            color: $ascent;
        }        
    }
    ul {
        li {
            margin: 1rem 0;
            font-size: 1.25rem;
            color: $primary;
            i {
                padding: 0 1rem 0 0;
            }
        }
    }

    form {
        .form-group {
            margin: 1rem 0;
            textarea {
                height: 150px;
            }
        }
        .form-control {
            background: #ebebeb;
            border: 0;
            border-radius: 0;
        }
    }
}

.sponsors {
    padding: 3rem;
    background: #fff;
    img {
        transition: all .3s;
        &:hover {
            opacity: .7;
        }
    }
}