.cover {
    background: url('../image/cover/cover.png');
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    height: 550px;

    .content {
        padding: 5vw;
    }
    h3 {
        font-size: 5vw;

    }

    a {
        text-transform: uppercase;
        color: $primary;
        background: $secondary;
        font-size: 1.5rem;
        font-weight: bold;
        padding: 1rem 2rem;
        text-decoration: none;
        transition: .5s;
        &:hover {
            color: $secondary;
            background:  $primary;
        }
    }
}