.pricing {
    margin: 5rem 0;
    .active {
        background: $primary !important;
        color: $secondary;
    }
    .single__product {
        background: $secondary;
        margin: 1rem 0;
        transition: .5s;
        ul {
            list-style-type: none;
            padding: 0;
            margin: 0;
            li {
                line-height: 2.5rem;
                font-size: 1.15rem;
                &:before {
                    content: '\2713\0020';
                    font-weight: bold;
                }
            }
        }
    }
}