.services {
    .service {
        padding: 1rem;
        margin: 1rem 0;
        &:hover {
            opacity: .8;
        }
    }
    .image {
        img {
            background: $primary;
            padding: 2rem;
            border-radius: 50%;
        }
    }

    .content {
        padding: 2rem 0;       
    }
    .content {
        h3 {
            text-transform: uppercase;
            font-size: 1.5rem;
            font-weight: bold;
        }
        p {
            color: $alternate;
        }
        a {
            text-transform: uppercase;
            font-weight: bolder;
            &:hover {
                color: $ascent;
            }
        }
    }

}