$footer-bg-color: #000;
$footer-heading-color: #404040;
$footer-text-color:#777777;

footer {
    background: $footer-bg-color;
    .footer__header {
        color: $footer-heading-color;
        text-transform: uppercase;
       h3 {
        font-size: 1.5rem;
        letter-spacing: .2rem;
       }
    }
    .content {
        color:$footer-text-color;
        li {
            margin: .7rem 0;
            a {
                text-decoration: none;
                color: #fff;
                transition: .5s;
                &:hover {
                    color:$footer-text-color;
                }
            }
        }
    }

    .footer__bottom {
        margin-top: 5rem;
        text-align: center;
        color: $footer-heading-color;
        text-transform: uppercase;
        h4 {
            font-size: 1.25rem;
        }
        .social__icons {
            a {
                color: $footer-heading-color;
                margin: .5rem;
                transition: .3s;
                .fab {
                    border: 1px solid $footer-heading-color;
                    border-radius: 50%;
                    padding: 1rem;
                }
                &:hover {
                    .fab {
                        color:#fff;
                        background: $footer-text-color;
                    }
                }
            }
        }
    }
}