footer {
    background: $primary;
    .footer__header {
        color: $alternate;
        text-transform: uppercase;
       h3 {
        font-size: 1.5rem;
        letter-spacing: .2rem;
       }
    }
    .content {
        color:$ascent;
        li {
            margin: .7rem 0;
            a {
                text-decoration: none;
                color: $secondary;
                transition: .5s;
                &:hover {
                    color:$ascent;
                }
            }
        }
    }

    .footer__bottom {
        margin-top: 5rem;
        text-align: center;
        color: $alternate;
        text-transform: uppercase;
        h4 {
            font-size: 1.25rem;
        }
        .social__icons {
            a {
                color: $alternate;
                margin: .5rem;
                transition: .3s;
                .fab {
                    border: 1px solid $alternate;
                    border-radius: 50%;
                    padding: 1rem;
                }
                &:hover {
                    .fab {
                        color:$secondary;
                        background: $ascent;
                    }
                }
            }
        }
    }
}